node_modules/
.expo/
dist/
build/
android/
ios/
.env
.env.*
*.keystore
*.jks
tsc_errors.txt
tsc.log
.vscode/

GoogleService-Info.plist
google-services.json

firebase-debug.log
npm-debug.log
yarn-error.log
