# Dependencies
node_modules/

# Expo / React Native
.expo/
dist/
build/
android/
ios/

# Environment & Config (Sensitive)
.env
.env.*
google-services.json
GoogleService-Info.plist
firestore.rules
storage.rules
firestore.indexes.json

# Keys & Auth
*.keystore
*.jks

# Logs & Error reports
tsc_errors.txt
tsc.log
firebase-debug.log
npm-debug.log
yarn-error.log

# IDE
.vscode/
